body{
	margin:0;
	padding:0;
	background-color:read;
	background-image:url("./tlo.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	}
.tytul{
	width:70vw; 
	height:300px;
	margin-top:10vh;
	margin-left:15vw;
	margin-right:15vw;
	border-radius:25px 25px 25px 25px;
	
}
.logo {
	width:23%; 
	height:100%;
	display:block;
	float:left;
	
}
.napis{
	width:75%; 
	height:100%;
	display:block;
	float:middle;
}
.tekst{
	font-family: 'Montserrat', sans-serif;
	border:15px solid rgba(255,255,255,0.0); 
	margin-top:2vh;
	margin-left:15vw;
	margin-right:15vw;
	margin-bottom:3vh;
	width:69vw; 
	height:4000px;
	color:white;
}
.tresc{
	font-size: 24px;
}
.naglowek{
	
	font-size: 60px;
}
.zdj{
	margin-top:5vh;
	margin-bottom:5vh;
	margin-left:15vw;
	display:block;
	float:middle;
}
.naglowek2{
	font-size: 48px;
}
.zdj1{
	width:75%;
	margin-top:5vh;
	margin-bottom:5vh;
	margin-left:10vw;
	display:block;
	float:middle;
}